/*
	Theme Name: HTML5 Blank
	Theme URI: http://html5blank.com
	Description: HTML5 Blank WordPress Theme
	Version: 1.4.3
	Author: Todd Motto (@toddmotto)
	Author URI: http://toddmotto.com
	Tags: Blank, HTML5, CSS3

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
html {
	font-size:62.5%;
}
body {
	font:300 11px/1.4 'Poppins', Helvetica, Arial, sans-serif;
	color:#444;
}
/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
img {
	max-width:100%;
	vertical-align:bottom;
}
a {
	color:#444;
	text-decoration:none;
}
a:hover {
	color:#444;
}
a:focus {
	outline:0;
}
a:hover,
a:active {
	outline:0;
}
input:focus {
	outline:0;
	border:1px solid #04A4CC;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
.wrapper {
	max-width:1280px;
	width:95%;
	margin:0 auto;
	position:relative;
}
/* header */
.header {

}
/* logo */
.logo {

}
.logo-img {

}
/* nav */
.nav {

}
/* sidebar */
.sidebar {

}
/* footer */
.footer {

}

/*------------------------------------*\
    PAGES
\*------------------------------------*/



/*------------------------------------*\
    IMAGES
\*------------------------------------*/



/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

@font-face {
	font-family:'Font-Name';
	src:url('fonts/font-name.eot');
	src:url('fonts/font-name.eot?#iefix') format('embedded-opentype'),
		url('fonts/font-name.woff') format('woff'),
		url('fonts/font-name.ttf') format('truetype'),
		url('fonts/font-name.svg#font-name') format('svg');
    font-weight:normal;
    font-style:normal;
}

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width:320px) {

}
@media only screen and (min-width:480px) {

}
@media only screen and (min-width:768px) {

}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
	* {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important;
	}
	a,
	a:visited {
		text-decoration:underline;
	}
	a[href]:after {
		content:" (" attr(href) ")";
	}
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	thead {
		display:table-header-group;
	}
	tr,img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
	}
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 {
		orphans:3;
		widows:3;
	}
	h2,
	h3 {
		page-break-after:avoid;
	}
}

header {
	float: left;
	width: 100%;
	background:#ededed;
	padding: 2em 0em;
	margin-bottom: 32px;
}

header img {
	max-width: 208px;
	display: block;
	margin: 0px auto;
}

.card {
	float: left;
	width: 100%;
    background: #f48022;
    border-radius: 39px;
    margin-bottom: 16px;
}

.card-header {
	border: 0px !important;
}

.card button {
	font-size: 18px;
	color: #ffffff;
}

.card button:hover {
	font-size: 18px;
	color: #ffffff;
	text-decoration: none;
}

.card-body {
	float: left;
	width: 100%;
	background: #ffffff;
}

.proposal-sec {
    float: left;
    width: 100%;
}

.proposal-inner-field label {
    float: left;
    width: 100%;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

.proposal-inner-field span {
    float: left;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}

.vehicle-slider {
	float: left;
	width: 100%;
}


.vehicle-info {
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.13);
-moz-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.13);
box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.13);
  float: left;
  width: 100%;
  border-radius: 30px;
  padding: 32px;
  margin-top: 32px;
}

.vehicle-info strong {
	font-weight: 300;
    color: #ec7c21;
}

.vehicle-info h2 {
	    font-size: 26px;
    margin-bottom: 16px;
    font-weight: 500;
    color: #888888;
}

.the-title {
	float: left;
	width: 100%;
}

.finance-form {
	float: left;
	width: 100%;
}

.fa {
	margin-right: 8px;
	display: inline-block;
}


.generic-sec {
	float: left;
	width: 100%;
}

.finance-form input {
	float: left;
	width: 100%;
	padding: 16px;
	border-radius: 30px;
	border: 1px solid #000000;
	font-size: 15px;
}
.finance-form select {
	float: left;
	width: 100%;
	padding: 16px;
	border-radius: 30px;
	border: 1px solid #000000;
	font-size: 15px;
}

.finance-form label {
	margin: 16px 0px;
}

#pwbox-10 {
	float: left;
	width: 100%;
	padding: 16px;
	border-radius: 30px;
	border: 1px solid #000000;
	font-size: 15px;
}

p {
	font-weight: 300;
	font-size: 15px;
	line-height: 22px;
	margin-bottom: 16px;
}

.acf-field .acf-label label {
	text-transform: uppercase;
    font-size: 18px;
    font-weight: 400 !important;
    color: #ec7c21;
}

.acf-input-wrap input {
	border-radius: 30px;
    border: 1px solid #d3d2d2;
    font-size: 15px !important;
    padding: 16px !important;
}

#pwbox-10 {
    border: 1px solid #d3d2d2;
    font-size: 15px !important;
    padding: 16px !important;
    margin-top: 20px;
}

.post-password-form label {
text-transform: uppercase;
    font-size: 18px;
    font-weight: 400 !important;
    color: #ec7c21;
    margin-bottom: 10px;
}

select {
	border-radius: 30px;
    border: 1px solid #d3d2d2 !important;
    font-size: 15px !important;
    padding: 16px !important;
}

input[type="submit"] {
	border-radius: 30px;
    border: 1px solid #d3d2d2 !important;
    font-size: 15px !important;
    padding: 16px !important;
    width: auto !important;	
    margin-top: 15px;
   float: right !important;
    padding: 16px;
    color: #ffffff;
    background: #ec7c21;
    border-radius: 30px;
    border: 0px;
    text-transform: uppercase;
    font-size: 13px;
}


footer {
	background: #ec7c21;
	padding: 32px;
	text-align: center;
	float: left;
	width: 100%;
	margin-top: 32px;
}

footer p {
	color: #ffffff;
	font-weight: 500;
	margin-bottom: 0px;
}

footer a {
	color: #ffffff;
	font-weight: 500;
}

.vehicle-archive-wrap {
    float: left;
    width: 100%;
    border-radius: 30px;
    border: 1px solid #ededed;
    padding: 16px;
    background: #ec7c21;
    border: 2px solid #d16914;
    color: #ffffff;
    margin-bottom: 16px;
}

.vehicle-archive-wrap:nth-child(even) {
	background: grey !important;
	border: 2px solid #636363;
}

.vehicle-archive-wrap span {
	font-size: 15px;
}

.vehicle-archive-col-1 {
	float: left;
	width: 33.33%;
}

.vehicle-archive-col-2 {
	float: left;
	width: 29.33%;
}

.vehicle-archive-col-3 {
	float: left;
	width: 17%;
}

.vehicle-archive-col-4 {
	float: left;
	width: 18%;
}

.vehicle-archive-col-4 ul li {
	list-style-type: none;
}

.m-signature-pad--clear {
    background: #ededed;
    padding: 16px;
    border-radius: 30px;
    float: left;
    text-transform: uppercase;
    color: #717871;
    font-weight: 500;
    font-size: 15px;
}

.front-sec {
	float: left;
	width: 100%;
	padding: 2em 0em 6em 0em;
}

.front-sec img {
	border-radius: 20px;
}

#loginform {
	float: left;
    width: 39%;
    border: 2px solid #ededed;
    padding: 16px;
    border-radius: 30px;
}

#loginform label {
	float: left;
    width: 100%;
}

#loginform input {
	line-height: normal;
    border: 2px solid #ededed;
    padding: 8px 16px;
    border-radius: 30px;
}

.vehicle-label {
	    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400 !important;
    color: #ec7c21;
}

#wpcf7-f61-o1 {
	display: none;
}

/* #agree form {
	display: none !important;
} */

#agree

button {
	border-radius: 30px;
    border: 1px solid #d3d2d2 !important;
    font-size: 15px !important;
    padding: 16px !important;
    width: auto !important;
    margin-top: 15px;
    float: right !important;
    padding: 16px;
    color: #ffffff;
    background: #ec7c21;
    border-radius: 30px;
    border: 0px;
    text-transform: uppercase;
    font-size: 13px;
}

.front-tile {
	position: relative;
}

.front-tile img {
	border: 2px solid #c4c4c4;
		-webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.13);
	-moz-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.13);
	box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.13);
}

.front-tile span {
    position: absolute;
    z-index: 99999;
    color: white;
    bottom: 1em;
    left: 1em;
    font-size: 29px;
    font-weight: 600;
    text-shadow: 0px 0px 5px #000;
}


#the-list-check {
	position: fixed;
	top: 1em;
	right: 1em;
	padding: 1.5em;
	background: #444444db;
	z-index: 9999999;
	border-radius: 21px;
}

#the-list-check ul {
	float: left;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

#the-list-check li {
	list-style: none;
	font-size: 14px;
	margin-bottom: 0.25em;
	color: #ffffff;
}

#the-list-check h3 {
	color: #ffffff;
}

#the-list-check .fa {
	color: #e1832d;
}

#message {
	display: none;
}

.newspan {
	position: absolute;
	background: #e1832d;
	height: 50px;
	width: 50;
	width: 50px;
	border-radius: 27px;
	text-align: center;
	padding-top: 13px;
	border: 2px solid #ffffff;
	top: 34px;
}

.fa-times-circle {
	color: red;
}